.App {
  background-color: #FEE3C4;
  display: flex;
  justify-content: center;
}

.App > .container {
  background: linear-gradient(to bottom right, #CE1E7E, #E5B8D1);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3vh 0;
  margin-bottom: 80vh;
}

.Header {
  text-align: center;
  margin-bottom: 3vh;
}

.showButton, .saveButton {
  background-color: #6D0E8A;
}

.AddTask .container {
  margin-top: 3vh;
}

.Task {
  background-color: #F4F4F4;
}

.false {
  border: none;
}

.true {
  border-left: 1vw solid #6D0E8A;
}
