.App {
  text-align: center;
  background-color: #FEE3C4;
  display: flex;
  justify-content: center;
}

.App > .container {
  background: linear-gradient(to bottom right, #CE1E7E, #E5B8D1);
  width: 40%;
}

.showButton {
  background-color: #6D0E8A;
  color: #fff;
}
