.App {
  background-color: #FEE3C4;
  display: flex;
  justify-content: center;
}

.App > .container {
  background: linear-gradient(to bottom right, #CE1E7E, #E5B8D1);
  width: 40%;
  /**
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  */
  padding: 3vh 0;
}

.Header {
  text-align: center;
  margin-bottom: 3vh;
}

.showButton, .saveButton {
  background-color: #6D0E8A;
}

.AddTask .container {
  margin-top: 3vh;
}
